<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tabeyo.mapper.BusinReportMapper">
<!-- 쿼리 보관 -->
<!--   <sql id="criteria">
  </sql> -->

  
  <!-- 전체 게시물 수 조회 -->
 <!--  <select id="getTotalCount" resultType="int">

  </select> -->

  
  <!-- 게시물 조회 with paging -->
<!--  <select id="getListWithPaging" 
  		  resultType="com.tabeyo.domain.BusinReportVO">
  </select> -->
  

  <!-- 게시물 조회 -->
 <!--  <select id="getList" resultType="com.tabeyo.domain.BusinReportVO">
  </select> -->

  
  <!-- 게시물 하나 조회 --> 
  <!-- <select id="read" resultType="com.tabeyo.domain.BusinReportVO">
  </select> -->
  
  
  <!-- insert만 수행 -->
<!--  <insert id="insert">
  </insert> -->
  

   </mapper>